<div class="modal-header">
  <h3 class="modal-title">Edit Policy Set</h3>
</div>
<form name="editGroupForm">
<div class="modal-body">
  <div class="form-group">
  	<label for="ctrlGroup">Policy Set Name:</label>
  	<input type="text" autocomplete="off" class="form-control" ng-model="selectedName"  required placeholder="{{selectedName}}" name="newPolicySetName">
  </div>
  <div class="form-group">
		  <label for="ctrlGroup">Consent Status:</label>
		  <select class="form-control" id="consentStatus" ng-model="selectedcnsentstatus"  required name="consentStatus">
		  		<option value="">Choose</option>
		        <option value="yes">Yes</option>
		        <option value="no">No</option>
		  </select>
	</div>
	<div class="form-group">
	  <label for="comments">Comments:</label>
	  <textarea rows="4" autocomplete="off" cols="50" class="form-control" ng-model="selectedcomments"  name="comments"></textarea> 
	</div>
</div>


<div class="modal-footer">
     <button class="btn btn-primary" type="button" ng-click="editSave(selectedName,selectedcnsentstatus,selectedcomments);$close()">Save</button>
     <button class="btn btn-warning" type="button" ng-click="$close()">Cancel</button>
</div>

</form>