<div class="container" ng-controller="manageRegRequestCtrl">

      <div class="row toprow">
		  <h2 class="col-sm-10">Manage Registration Request</h2>  
	 </div>
     
     <div class="row toprow">
     	<div class="alert alert-success alert-dismissable" ng-if="sucessMsg">
		    <a href="" class="close" data-dismiss="alert" aria-label="close">x</a>
		    {{sucessMsg}}
		</div>
		<div class="alert alert-danger alert-dismissable" ng-if="errorMsg">
		    <a href="" class="close" data-dismiss="alert" aria-label="close">x</a>
		    {{errorMsg}}
		</div>
     </div>
     
      <div class="panel panel-default">
        <div class="panel-heading">Current Cohort
          <button class="btn btn-box-right collapsed" data-toggle="collapse" href="#demo" >
              <i class=" fa fa-expand"></i>
          </button>
        </div>
         <div id="demo" class="collapse in">
          <div class="panel-body">
           
              <div class="row" ng-if ="addCohort">
                <label for="cohortDetail" class="col-sm-4">Cohort Name: {{addCohort.name}}</label>
                <label for="cohortDetail" class="col-sm-4">Cohort Description: {{addCohort.cohortdescription}}</label>
          	  </div>
          	   <div class="row" ng-if ="!addCohort">
                <label for="cohortDetail" class="col-sm-4">Cohort Name: All</label>
          	  </div>
          </div>
        </div>
      </div> <!-- /Details -->

       <div class="panel panel-default">
        <div class="panel-heading">Registration Request List
          <button class="btn btn-box-right collapsed" data-toggle="collapse" href="#demo2" >
              <i class=" fa fa-expand"></i>
          </button>
        </div>
         <div id="demo2" class="collapse in">
          <div class="panel-body" id="no-more-tables">
			<div class="form-group" style = "margin-bottom: 25px;">
			  <label for="input2" class="col-sm-2 control-label" style = "margin-top:10px; color:blue;">Search By Status</label>
			  <div class="col-sm-6">
			  <select id="input2" class="form-control statusDrpDwn" ng-change="getdetails(userselected)" ng-model="userselected">
			   <option>All</option>
			   <option>Staged</option>
			    <option>Pending</option>
			     <option>Rejected</option>
			  </select>
			  </div>
			</div><br/>	
            <table class="table-bordered table-striped table-condensed cf results">
              <thead class="cf" style="cursor:pointer;">
                <tr>
                  <th>
	                  <a class = "reqTableHeader" href="" ng-click="sortType = 'selectedReqID'; sortReverse = !sortReverse">
			          	ID 
			            <span ng-show="sortType == 'selectedReqID' && !sortReverse" class="fa fa-caret-down"></span>
			            <span ng-show="sortType == 'selectedReqID' && sortReverse" class="fa fa-caret-up"></span>
			          </a>
                  </th>
                  <th>
                  	<a class = "reqTableHeader" href="" ng-click="sortType = 'selectedCreatedDate'; sortReverse = !sortReverse">
			          	Created Date 
			            <span ng-show="sortType == 'selectedCreatedDate' && !sortReverse" class="fa fa-caret-down"></span>
			            <span ng-show="sortType == 'selectedCreatedDate' && sortReverse" class="fa fa-caret-up"></span>
			        </a>
			       </th>
                  <th>
                  	<a class = "reqTableHeader" href="" ng-click="sortType = 'selectedRasonCode'; sortReverse = !sortReverse">
			          	Reason Code
			            <span ng-show="sortType == 'selectedRasonCode' && !sortReverse" class="fa fa-caret-down"></span>
			            <span ng-show="sortType == 'selectedRasonCode' && sortReverse" class="fa fa-caret-up"></span>
			        </a>
                  </th>
                  <th>
                  	<a class = "reqTableHeader" href="" ng-click="sortType = 'selectedClientName'; sortReverse = !sortReverse">
			          	Client Name 
			            <span ng-show="sortType == 'selectedClientName' && !sortReverse" class="fa fa-caret-down"></span>
			            <span ng-show="sortType == 'selectedClientName' && sortReverse" class="fa fa-caret-up"></span>
				    </a>
                  </th>
                  <!--th>
                  	<a class = "reqTableHeader" href="" ng-click="sortType = 'selectedLName'; sortReverse = !sortReverse">
			          	Last Name
			            <span ng-show="sortType == 'selectedLName' && !sortReverse" class="fa fa-caret-down"></span>
			            <span ng-show="sortType == 'selectedLName' && sortReverse" class="fa fa-caret-up"></span>
			        </a>
                  </th-->
                  <th>
                  	<a class = "reqTableHeader" href="" ng-click="sortType = 'selectedRuleID'; sortReverse = !sortReverse">
			          	Rule ID 
			            <span ng-show="sortType == 'selectedRuleID' && !sortReverse" class="fa fa-caret-down"></span>
			            <span ng-show="sortType == 'selectedRuleID' && sortReverse" class="fa fa-caret-up"></span>
			        </a>
                  </th>
                  <th>
                  	<a class = "reqTableHeader" href="" ng-click="sortType = 'selectedStatus'; sortReverse = !sortReverse">
			          	Status
			            <span ng-show="sortType == 'selectedStatus' && !sortReverse" class="fa fa-caret-down"></span>
			            <span ng-show="sortType == 'selectedStatus' && sortReverse" class="fa fa-caret-up"></span>
			        </a>
                  </th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in existRegData | orderBy:sortType:sortReverse | filter:searchList"">
                  <td class="{{x.reqReqtID}}name" data-title="Cohort Name" ng-model = "selectedReqID">{{x.reqReqtID}}</td>
                  <td class="{{x.cohortid}}createdDate" data-title="Created Date" ng-model = "selectedCreatedDate">{{x.createdDate}}
                  <td class="{{x.cohortid}}reasoncode" data-title="Reason Code" ng-model = "selectedRasonCode">{{x.reasoncode}}
                  <td class="{{x.cohortid}}getFullName" data-title="Client Name" ng-model = "selectedClientName"><a  ng-click="showPersonData(x.clientID)" style="cursor:pointer;">{{x.fName + " " + x.lname}}</a>
                  <td class="{{x.cohortid}}ruleID" data-title="Rule ID" ng-model = "selectedRuleID">{{x.ruleID}}
                 <!--  <td class="{{x.cohortid}}cohortdescription" data-title="Client ID" ng-model = "selectedClientID">{{x.clientID}}
                  <td class="{{x.cohortid}}" data-title="Cohort ID" ng-model = "selectCohID"><a ng-click = "getcohortDetails(x.cohortID)" style="cursor:pointer;">{{x.cohortID}}</a>-->
                  <td class="{{x.cohortid}}status" data-title="Status" ng-model = "selectedStatus"><span>{{x.status}}</span></td>
                  <td class="{{x.cohortid}}actions" data-title="Actions">
                      <button type="submit" ng-click="approveRequest(x.reqReqtID)" class="btn btn-default">Approve</button>
              		  <button type="reset" ng-click="deleteRequest(x.reqReqtID)" class="btn btn-default">Delete</button>
              		  <a ng-click="viewStatusHistory(x.reqReqtID)" style="cursor:pointer; padding-left: 10px;" >Status History</a>
              		  <a ng-click="sendStatusHistory(x.reqReqtID)" style="cursor:pointer;padding-left: 10px;">Send History</a>
                  </td>
                </tr>
               
              </tbody>
            </table>
                        

          </div>
        </div>
      </div><!-- /Search Results -->



</div> <!-- /container /controlGroupCtrl -->

