<div class="container" ng-controller="personReportCtrl">

      <div class="row toprow">
		  <h2 class="col-sm-10">Person Consent Report</h2>   
		  
	  </div>
     
     <div class="row toprow">
     	<div class="alert alert-success alert-dismissable" ng-if="sucessMsg">
		    <a href="" class="close" data-dismiss="alert" aria-label="close">x</a>
		    {{sucessMsg}}
		</div>
		<div class="alert alert-danger alert-dismissable" ng-if="errorMsg">
		    <a href="" class="close" data-dismiss="alert" aria-label="close">x</a>
		    {{errorMsg}}
		</div>
     </div>
     
     
     

       <div class="panel panel-default">
        <div class="panel-heading">Person Consent Data
          <button class="btn btn-box-right collapsed" data-toggle="collapse" href="#demo2" >
              <i class=" fa fa-expand"></i>
          </button>
        </div>
         <div id="demo2" class="collapse in">
          <div class="panel-body" id="no-more-tables">

            <table class="table-bordered table-striped table-condensed cf results">
              <thead class="cf">
                <tr>
                  <th>Person Consent ID</th>
                  <th>Customer Name</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Contact Phone</th>
                  <th>Consent Catogory List</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Consent Form</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in personConsentData">
                  <td class="personconsentid" data-title="personconsentid">{{x.personconsentid}}</td>
                  <td class="customerName" data-title="customerName">{{x.customerName}}</td>
                  <td class="city" data-title="city">{{x.city}}</td>
                  <td class="state" data-title="state">{{x.state}}</td>
                  <td class="contactphone" data-title="contactphone">{{x.contactphone}}</td>
                  <td class="consentCatList" data-title="consentCatList">{{x.consentCatList}}</td>
                  <td class="startdate" data-title="startdate">{{x.startdate}}</td>
                  <td class="enddate" data-title="enddate">{{x.enddate}}</td>
                  <td class="fileid" data-title="fileid"><a href="/consent/getConsForm/{{x.personconsentid}}" target="_blank">{{x.fileid == null ? "" : "Download"}}</a></td>
                </tr>
               
              </tbody>
            </table>
                        

          </div>
        </div>
      </div><!-- /Search Results -->



</div> <!-- /container /controlGroupCtrl -->

