<div class="container" ng-controller="policySetCtrl">

      <div class="row toprow">
		  <h2 class="col-sm-10">Policy Set  </h2>   
		  <a href="" class="col-sm-2 martop30 txtright" ng-click="createPolicySet()"><i class="fa fa-plus-square" aria-hidden="true"></i> Create New Policy Set</a>
	  </div>
     
     <div class="row toprow">
     	<div class="alert alert-success alert-dismissable" ng-if="sucessMsg">
		    <a href="" class="close" data-dismiss="alert" aria-label="close">x</a>
		    {{sucessMsg}}
		</div>
		<div class="alert alert-danger alert-dismissable" ng-if="errorMsg">
		    <a href="" class="close" data-dismiss="alert" aria-label="close">x</a>
		    {{errorMsg}}
		</div>
     </div>
     
      <div class="panel panel-default">
        <div class="panel-heading">Search Criteria
          <button class="btn btn-box-right collapsed" data-toggle="collapse" href="#demo" >
              <i class=" fa fa-expand"></i>
          </button>
        </div>
         <div id="demo" class="collapse in">
          <div class="panel-body">
            <form name="ctrlPolicyForm">
              <div class="form-group">
                <label for="ctrlPolicyName">Policy Set Name:</label>
                <input type="text" class="form-control" autocomplete="off" ng-model="ctrlPolicyName" required placeholder="Policy Set Name" name="ctrlPolicyName">
              </div>
              
              <button type="submit" ng-click="search(ctrlPolicyName)" class="btn btn-default" ng-disabled="ctrlPolicyName.ctrlPolicyName.$invalid">Search</button>
              <button type="reset" ng-click="reset()" class="btn btn-default">Reset</button>
            </form>
          </div>
        </div>
      </div> <!-- /Search Criteria -->

       <div class="panel panel-default">
        <div class="panel-heading">Search Results
          <button class="btn btn-box-right collapsed" data-toggle="collapse" href="#demo2" >
              <i class=" fa fa-expand"></i>
          </button>
        </div>
         <div id="demo2" class="collapse in">
          <div class="panel-body" id="no-more-tables">

            <table class="table-bordered table-striped table-condensed cf results">
              <thead class="cf">
                <tr>
                  <th>Policy Set Name</th>
                  <th>Last Updated By</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in myData">
                  <td class="{{x.policysetid}}policySetName" data-title="Policy Set Name"><a ng-click=viewGroupDetails(x.policysetid) style="cursor:pointer;">{{x.name}}</a></td>
                  <td class="{{x.policysetid}}lastupdatedon" data-title="Last Updated By">{{x.lastupdatedon}}
                    <span style="float:right">
                      <i style="margin-right:10px;cursor:pointer;"  title="Edit Policy Set Name" class="fa fa-pencil-square-o" aria-hidden="true" ng-click="open(x.policysetid,x.name,x.consentstatus,x.comments)"></i>
                      <i  style="cursor:pointer;" title="Delete" id="{{x.policysetid}}" class="fa fa-times" aria-hidden="true" ng-click="deleteGroup(x.policysetid,x.name)"></i>
                    </span>
                  </td>
                </tr>
               
              </tbody>
            </table>
                        

          </div>
        </div>
      </div><!-- /Search Results -->



</div> <!-- /container /policySetCtrl -->

