<div class="container" ng-controller="viewTargetCtrl">

      
      <div class="row toprow">
		  <h2 class="col-sm-3">View Target  </h2>
		  <div class="col-sm-3"></div>   
		  <div class="col-sm-3"></div>   
		  <!--  a href="" class="col-sm-3 martop30 txtright"  ng-click="viewReasonCodeData()"><i class="fa fa-plus-square" aria-hidden="true"></i> View Reason Code</a>
		  <a href="" class="col-sm-3 martop30 txtright"  ng-click="createReasonCode()"><i class="fa fa-plus-square" aria-hidden="true"></i> Create Reason Code</a>-->
	  	  <a href="" class="col-sm-3 martop30 txtright"  ng-click="associateCohort()"><i class="fa fa-plus-square" aria-hidden="true"></i> Associate Cohort</a>
	  </div>
	  
	  <div class="row toprow">
     	<div class="alert alert-success alert-dismissable" ng-if="sucessMsg">
		    <a href="" class="close" data-dismiss="alert" aria-label="close">x</a>
		    {{sucessMsg}}
		</div>
		<div class="alert alert-danger alert-dismissable" ng-if="errorMsg">
		    <a href="" class="close" data-dismiss="alert" aria-label="close">x</a>
		    {{errorMsg}}
		</div>
     </div>

      <div class="panel panel-default">
        <div class="panel-heading">Details
          <button class="btn btn-box-right collapsed" data-toggle="collapse" href="#demo" >
              <i class=" fa fa-expand"></i>
          </button>
        </div>
         <div id="demo" class="collapse in">
          <div class="panel-body">
           
              <div class="row">
                <label for="cohortDetail" class="col-sm-4">Target Name: {{addTarget.targetName}}</label>
                <label for="cohortDetail" class="col-sm-4">Target Description: {{addTarget.targetDescription}}</label>
          	  </div>
          </div>
        </div>
      </div> <!-- /Details -->

       <div class="panel panel-default">
        <div class="panel-heading">Target Details
          
        </div>
         <div id="demo2" class="collapse in">
          <div class="panel-body" id="no-more-tables">

            <table id="transTable" class="table-bordered table-striped table-condensed cf results">
              <thead class="cf">
                <tr>
                  <th>Target Cohort ID</th>
                  <th>Cohort ID</th>
                  <th>Name</th>
                  <th>Cohort Name</th>
                  <th>Cohort Description</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody class="tranBody">
           
              </tbody>
            </table>
            
                  
          </div>
        </div>
      </div><!-- /Transactions -->


     



</div> <!-- /container /controlGroupCtrl -->

