<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.ibm.db2.jcc.DB2Driver</property>
      <!--   <property name="hibernate.connection.password">system</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@127.0.0.1:1521:xe</property>
        <property name="hibernate.connection.username">system</property>
        <property name="hibernate.current_session_context_class">thread</property> 
       -->   
         <property name="hibernate.connection.password">DB2aDmn22#</property>
        <property name="hibernate.connection.url">jdbc:db2://10.52.1.23:50000/SNMACCP</property>
        <property name="hibernate.connection.username">db2admn</property>
        <property name="hibernate.current_session_context_class">thread</property>   
        <property name="hibernate.dialect">org.hibernate.dialect.DB2Dialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>        
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="com.ibm.gbs.consentmgmt.dto.Cosdpersonconsenthistory" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.Cosdorgrolejobuser" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.Cosdpersonconsent" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.PgStatStatements" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.Users" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.Cosdconsentgroup" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.Cosdconsentgrouptxn" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.UserAuthority" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.OauthClientDetails" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.Cosdconsentexception" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.Cosdabactransaction" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.Organisationunit" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.Authority" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.Cosdauthorizationgroup" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.Securityrole" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.Cosdabaccontrolgroup" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.Cosdabaccontrolobject" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.Cosdproxypersonconsent" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.Usr" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.Clientdetails" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.Cosdabacconstraint" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.Cosdabacorganisation" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.C360SavedResults" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.Cosdauthorizationpolicyset" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.Cosdauthorizationpolicy" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.AuthRequest" />
        <mapping class="com.ibm.gbs.consentmgmt.dto.ReferralLA" />
        <mapping class="com.ibm.gbs.consentmgmt.wcm.dto.Cohort" />
        <mapping class="com.ibm.gbs.consentmgmt.wcm.dto.CohortRule" />
         <mapping class="com.ibm.gbs.consentmgmt.wcm.dto.CohortTarget" />
        <mapping class="com.ibm.gbs.consentmgmt.wcm.dto.Target" />  
         <mapping class="com.ibm.gbs.consentmgmt.wcm.dto.ReasonCode" />  
         <mapping class="com.ibm.gbs.consentmgmt.wcm.dto.RegistrationRequest" />
         <mapping class="com.ibm.gbs.consentmgmt.wcm.dto.ReferralStatusHist" />     
    </session-factory>
</hibernate-configuration>
